<h2>Salut <%= @order.prenume %>!</2>
<h4>Comanda ta a fost preluată</h4>

<p>Îți mulțumim și te așteptăm să revii pe <a href="www.curcumin95help.ro">site-ul Curcumin95</a>.<br>Îți urăm o zi cât mai faină și sănătate!<br><br><b>Echipa Curcumin95</b></p>
<!--
<p>
<% Product.all.each do |produs| %>
<%if OrderProduct.find_by(product_id: produs.id, order_id: @order.id) != nil && OrderProduct.find_by(product_id: produs.id, order_id: @order.id).numar != 0%>
<%= produs.nume%> x <%= OrderProduct.find_by(product_id: produs.id, order_id: @order.id).numar%><br/>
<% if @order.transport == "true"%>
	Transport: 15 LEI<br/>
	<%else%>
	Transport: 0 LEI<br/>
<%end%>

<%end%>
<%end%>
Total: <%=@order.pret %> LEI
</p>
-->
<%= render file: 'orders/show'%>