
<title>Fa-mi cont!</title>

<!--<% if !current_page?(new_user_registration_path) %>-->

<!--<div style="display: none;">-->

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
 <%= devise_error_messages! %>
 
  <div class="field" >
    
    <%= f.email_field :email, placeholder: 'Email', style: "border-color: white;", id: 'printchatbox1' %>
  </div>

  <div class="field">
    
    
    <%= f.password_field :password, placeholder: 'Parola', style: "border-color: white;", autocomplete: "off", id: 'printchatbox3' %>
    <!--<% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caractere minimum)</em>
    <% end %>-->
    <p style="color:white;">(6 caractere minim)</p>
  </div>

<!--</div>-->
<center>
<div class="actions">
      <div class="float-left">
      <input type="checkbox" onchange='show_submit()' autocomplete="off">
          Am citit si sunt de acord cu <a onclick="hide_modal('modal_login'); show_modal('modal_termeni');">termenii si conditiile</a>.
          <p id="termeni_mesaj" style="color:red; font-size: 1em;"></p>
      </div>
      
    <br/>
          <button type="button" id="submit_nu" class='submit-button round' onclick='termeni_mesaj()'>Fa-mi cont!</button>
          <%= f.submit "Fa-mi cont!", class: 'submit-button round', style:'display:none;', id: "submit_da", type: "button"%>
    
    <br/><br/>
  </div>
</center>
<%end%>
<script type="text/javascript">
function show_submit(){

if (document.getElementById("submit_da").style.display == "none")
{
  document.getElementById("termeni_mesaj").innerHTML = "";
document.getElementById("submit_da").style.display = "inline";
document.getElementById("submit_da").type = "submit";
document.getElementById("submit_nu").style.display = "none";
}else
{
document.getElementById("submit_da").style.display = "none";
document.getElementById("submit_da").type = "button";
document.getElementById("submit_nu").style.display = "inline"; 
}

}

function termeni_mesaj(){

document.getElementById("termeni_mesaj").innerHTML = "Trebuie sa bifati pentru a putea continua!";


}
</script>
<!--

  <%= link_to 'Acasa', root_path %><br/>
  <%= link_to 'Intra in cont', new_user_session_path %>

<% end %>
-->
