
  <%= f.text_field :nume, placeholder: "Nume", style: "border-color: white;" %>
  
  <%= f.text_field :prenume, placeholder: 'Prenume', style: "border-color: white;" %>
  
  <%= f.text_field :email, placeholder: 'Email', style: "border-color: white;" %>
  
  <%= f.text_field :telefon, placeholder: 'Telefon', style: "border-color: white;" %>
  <!--
  <div class="space"></div>
  <% if current_user.sickness == nil %>
  
  <%= f.select :sickness,  options_for_select(['Alege afectiunea','Reumatism', 'Cardiac','Artrita','Cronic']),{}, class: 'bd-grey-light', style:"color:black; width:500px;"%>
  <%else%>
  
  <%= f.select :sickness,  options_for_select(['Alege afectiunea','Reumatism', 'Cardiac','Artrita','Cronic'], current_user.sickness),{},class: 'bd-grey-light', style:"color:black; width:500px;"%>
  <%end%>
  -->
  <%= f.text_field :tara, placeholder: 'Tara', style: "border-color: white;" %>
  
  <%= f.text_field :judet, placeholder: 'Judet', style: "border-color: white;" %>
  
  <%= f.text_field :oras, placeholder: 'Oras', style: "border-color: white;" %>
  
  <%= f.text_field :codpostal, placeholder: 'Codpostal', style: "border-color: white;" %>
  <div class="space"></div>
  <%= f.text_area :adresa, placeholder: 'Adresa', style: "border-color: white;" %>


  