<head>

<link href="assets/global.css" rel="stylesheet" type="text/css">
<link href="assets/queries_iphone.css" rel="stylesheet" type="text/css">
<link href="assets/queries_samsung.css" rel="stylesheet" type="text/css">
<link href="assets/queries_tablet.css" rel="stylesheet" type="text/css">
<link href="assets/cssmodal.css" rel="stylesheet" type="text/css">
<link href="assets/desktopcss.css" rel="stylesheet" type="text/css">

<link href="assets/super.css" rel="stylesheet" type="text/css">
<link href="assets/mihai.css" rel="stylesheet" type="text/css">





</head>

<title>Schimbare parola</title>

<h2>Schimbă parola</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <!--<%= devise_error_messages! %>-->
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    
    <%= f.password_field :password, placeholder: "Noua parola(minim 6 charactere)", autocomplete: "off" %>
    <!--<% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caractere minimum)</em>
    <% end %>-->
    
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: "Confirmare parola noua", autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Schimbă parola", class: 'submit-button' %>
  </div>

<% end %>
