<%= stylesheet_link_tag 'global', media: 'all', 'data-turbolinks-track': 'reload' %>

<h2>Schimbă parola</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
<div style="background: rgba(0, 0, 0, 0.95);">
  <div class="field">
    
    <%= f.password_field :password, placeholder: "Noua parola", autocomplete: "off" %>
    <!--<% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caractere minimum)</em>
    <% end %>-->
    <p style="color:white;">(6 caractere minim)</p>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: "Confirmare parola noua", autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Schimbă parola", class: 'submit-button' %>
  </div>
  </div>
<% end %>
